:root {
  --blue-red-flow--p0: rgb(0,0,255,0.8);
  --blue-red-flow--p1: rgb(5,0,255,0.8);
  --blue-red-flow--p2: rgb(10,0,255,0.8);
  --blue-red-flow--p3: rgb(15,0,255,0.8);
  --blue-red-flow--p4: rgb(20,0,255,0.8);
  --blue-red-flow--p5: rgb(26,0,255,0.8);
  --blue-red-flow--p6: rgb(31,0,255,0.8);
  --blue-red-flow--p7: rgb(36,0,255,0.8);
  --blue-red-flow--p8: rgb(41,0,255,0.8);
  --blue-red-flow--p9: rgb(46,0,255,0.8);
  --blue-red-flow--p10: rgb(51,0,255,0.8);
  --blue-red-flow--p11: rgb(56,0,255,0.8);
  --blue-red-flow--p12: rgb(61,0,255,0.8);
  --blue-red-flow--p13: rgb(66,0,255,0.8);
  --blue-red-flow--p14: rgb(71,0,255,0.8);
  --blue-red-flow--p15: rgb(77,0,255,0.8);
  --blue-red-flow--p16: rgb(82,0,255,0.8);
  --blue-red-flow--p17: rgb(87,0,255,0.8);
  --blue-red-flow--p18: rgb(92,0,255,0.8);
  --blue-red-flow--p19: rgb(97,0,255,0.8);
  --blue-red-flow--p20: rgb(102,0,255,0.8);
  --blue-red-flow--p21: rgb(107,0,255,0.8);
  --blue-red-flow--p22: rgb(112,0,255,0.8);
  --blue-red-flow--p23: rgb(117,0,255,0.8);
  --blue-red-flow--p24: rgb(122,0,255,0.8);
  --blue-red-flow--p25: rgb(127,0,255,0.8);
  --blue-red-flow--p26: rgb(133,0,255,0.8);
  --blue-red-flow--p27: rgb(138,0,255,0.8);
  --blue-red-flow--p28: rgb(143,0,255,0.8);
  --blue-red-flow--p29: rgb(148,0,255,0.8);
  --blue-red-flow--p30: rgb(153,0,255,0.8);
  --blue-red-flow--p31: rgb(158,0,255,0.8);
  --blue-red-flow--p32: rgb(163,0,255,0.8);
  --blue-red-flow--p33: rgb(168,0,255,0.8);
  --blue-red-flow--p34: rgb(173,0,255,0.8);
  --blue-red-flow--p35: rgb(178,0,255,0.8);
  --blue-red-flow--p36: rgb(184,0,255,0.8);
  --blue-red-flow--p37: rgb(189,0,255,0.8);
  --blue-red-flow--p38: rgb(194,0,255,0.8);
  --blue-red-flow--p39: rgb(199,0,255,0.8);
  --blue-red-flow--p40: rgb(204,0,255,0.8);
  --blue-red-flow--p41: rgb(209,0,255,0.8);
  --blue-red-flow--p42: rgb(214,0,255,0.8);
  --blue-red-flow--p43: rgb(219,0,255,0.8);
  --blue-red-flow--p44: rgb(224,0,255,0.8);
  --blue-red-flow--p45: rgb(229,0,255,0.8);
  --blue-red-flow--p46: rgb(235,0,255,0.8);
  --blue-red-flow--p47: rgb(240,0,255,0.8);
  --blue-red-flow--p48: rgb(245,0,255,0.8);
  --blue-red-flow--p49: rgb(250,0,255,0.8);
  --blue-red-flow--p50: rgb(255,0,255,0.8);
  --blue-red-flow--p51: rgb(255,0,250,0.8);
  --blue-red-flow--p52: rgb(255,0,245,0.8);
  --blue-red-flow--p53: rgb(255,0,240,0.8);
  --blue-red-flow--p54: rgb(255,0,235,0.8);
  --blue-red-flow--p55: rgb(255,0,230,0.8);
  --blue-red-flow--p56: rgb(255,0,224,0.8);
  --blue-red-flow--p57: rgb(255,0,219,0.8);
  --blue-red-flow--p58: rgb(255,0,214,0.8);
  --blue-red-flow--p59: rgb(255,0,209,0.8);
  --blue-red-flow--p60: rgb(255,0,204,0.8);
  --blue-red-flow--p61: rgb(255,0,199,0.8);
  --blue-red-flow--p62: rgb(255,0,194,0.8);
  --blue-red-flow--p63: rgb(255,0,189,0.8);
  --blue-red-flow--p64: rgb(255,0,184,0.8);
  --blue-red-flow--p65: rgb(255,0,179,0.8);
  --blue-red-flow--p66: rgb(255,0,173,0.8);
  --blue-red-flow--p67: rgb(255,0,168,0.8);
  --blue-red-flow--p68: rgb(255,0,163,0.8);
  --blue-red-flow--p69: rgb(255,0,158,0.8);
  --blue-red-flow--p70: rgb(255,0,153,0.8);
  --blue-red-flow--p71: rgb(255,0,148,0.8);
  --blue-red-flow--p72: rgb(255,0,143,0.8);
  --blue-red-flow--p73: rgb(255,0,138,0.8);
  --blue-red-flow--p74: rgb(255,0,133,0.8);
  --blue-red-flow--p75: rgb(255,0,128,0.8);
  --blue-red-flow--p76: rgb(255,0,122,0.8);
  --blue-red-flow--p77: rgb(255,0,117,0.8);
  --blue-red-flow--p78: rgb(255,0,112,0.8);
  --blue-red-flow--p79: rgb(255,0,107,0.8);
  --blue-red-flow--p80: rgb(255,0,102,0.8);
  --blue-red-flow--p81: rgb(255,0,97,0.8);
  --blue-red-flow--p82: rgb(255,0,92,0.8);
  --blue-red-flow--p83: rgb(255,0,87,0.8);
  --blue-red-flow--p84: rgb(255,0,82,0.8);
  --blue-red-flow--p85: rgb(255,0,77,0.8);
  --blue-red-flow--p86: rgb(255,0,71,0.8);
  --blue-red-flow--p87: rgb(255,0,66,0.8);
  --blue-red-flow--p88: rgb(255,0,61,0.8);
  --blue-red-flow--p89: rgb(255,0,56,0.8);
  --blue-red-flow--p90: rgb(255,0,51,0.8);
  --blue-red-flow--p91: rgb(255,0,46,0.8);
  --blue-red-flow--p92: rgb(255,0,41,0.8);
  --blue-red-flow--p93: rgb(255,0,36,0.8);
  --blue-red-flow--p94: rgb(255,0,31,0.8);
  --blue-red-flow--p95: rgb(255,0,26,0.8);
  --blue-red-flow--p96: rgb(255,0,20,0.8);
  --blue-red-flow--p97: rgb(255,0,15,0.8);
  --blue-red-flow--p98: rgb(255,0,10,0.8);
  --blue-red-flow--p99: rgb(255,0,5,0.8);
  --blue-red-flow--p100: rgb(255,0,0,0.8);
}
