:root {
  --green-red-flow--p0: rgb(0,255,0,0.7);
  --green-red-flow--p1: rgb(5,255,0,0.7);
  --green-red-flow--p2: rgb(10,255,0,0.7);
  --green-red-flow--p3: rgb(15,255,0,0.7);
  --green-red-flow--p4: rgb(20,255,0,0.7);
  --green-red-flow--p5: rgb(26,255,0,0.7);
  --green-red-flow--p6: rgb(31,255,0,0.7);
  --green-red-flow--p7: rgb(36,255,0,0.7);
  --green-red-flow--p8: rgb(41,255,0,0.7);
  --green-red-flow--p9: rgb(46,255,0,0.7);
  --green-red-flow--p10: rgb(51,255,0,0.7);
  --green-red-flow--p11: rgb(56,255,0,0.7);
  --green-red-flow--p12: rgb(61,255,0,0.7);
  --green-red-flow--p13: rgb(66,255,0,0.7);
  --green-red-flow--p14: rgb(71,255,0,0.7);
  --green-red-flow--p15: rgb(77,255,0,0.7);
  --green-red-flow--p16: rgb(82,255,0,0.7);
  --green-red-flow--p17: rgb(87,255,0,0.7);
  --green-red-flow--p18: rgb(92,255,0,0.7);
  --green-red-flow--p19: rgb(97,255,0,0.7);
  --green-red-flow--p20: rgb(102,255,0,0.7);
  --green-red-flow--p21: rgb(107,255,0,0.7);
  --green-red-flow--p22: rgb(112,255,0,0.7);
  --green-red-flow--p23: rgb(117,255,0,0.7);
  --green-red-flow--p24: rgb(122,255,0,0.7);
  --green-red-flow--p25: rgb(127,255,0,0.7);
  --green-red-flow--p26: rgb(133,255,0,0.7);
  --green-red-flow--p27: rgb(138,255,0,0.7);
  --green-red-flow--p28: rgb(143,255,0,0.7);
  --green-red-flow--p29: rgb(148,255,0,0.7);
  --green-red-flow--p30: rgb(153,255,0,0.7);
  --green-red-flow--p31: rgb(158,255,0,0.7);
  --green-red-flow--p32: rgb(163,255,0,0.7);
  --green-red-flow--p33: rgb(168,255,0,0.7);
  --green-red-flow--p34: rgb(173,255,0,0.7);
  --green-red-flow--p35: rgb(178,255,0,0.7);
  --green-red-flow--p36: rgb(184,255,0,0.7);
  --green-red-flow--p37: rgb(189,255,0,0.7);
  --green-red-flow--p38: rgb(194,255,0,0.7);
  --green-red-flow--p39: rgb(199,255,0,0.7);
  --green-red-flow--p40: rgb(204,255,0,0.7);
  --green-red-flow--p41: rgb(209,255,0,0.7);
  --green-red-flow--p42: rgb(214,255,0,0.7);
  --green-red-flow--p43: rgb(219,255,0,0.7);
  --green-red-flow--p44: rgb(224,255,0,0.7);
  --green-red-flow--p45: rgb(229,255,0,0.7);
  --green-red-flow--p46: rgb(235,255,0,0.7);
  --green-red-flow--p47: rgb(240,255,0,0.7);
  --green-red-flow--p48: rgb(245,255,0,0.7);
  --green-red-flow--p49: rgb(250,255,0,0.7);
  --green-red-flow--p50: rgb(255,255,0,0.7);
  --green-red-flow--p51: rgb(255,250,0,0.7);
  --green-red-flow--p52: rgb(255,245,0,0.7);
  --green-red-flow--p53: rgb(255,240,0,0.7);
  --green-red-flow--p54: rgb(255,235,0,0.7);
  --green-red-flow--p55: rgb(255,230,0,0.7);
  --green-red-flow--p56: rgb(255,224,0,0.7);
  --green-red-flow--p57: rgb(255,219,0,0.7);
  --green-red-flow--p58: rgb(255,214,0,0.7);
  --green-red-flow--p59: rgb(255,209,0,0.7);
  --green-red-flow--p60: rgb(255,204,0,0.7);
  --green-red-flow--p61: rgb(255,199,0,0.7);
  --green-red-flow--p62: rgb(255,194,0,0.7);
  --green-red-flow--p63: rgb(255,189,0,0.7);
  --green-red-flow--p64: rgb(255,184,0,0.7);
  --green-red-flow--p65: rgb(255,179,0,0.7);
  --green-red-flow--p66: rgb(255,173,0,0.7);
  --green-red-flow--p67: rgb(255,168,0,0.7);
  --green-red-flow--p68: rgb(255,163,0,0.7);
  --green-red-flow--p69: rgb(255,158,0,0.7);
  --green-red-flow--p70: rgb(255,153,0,0.7);
  --green-red-flow--p71: rgb(255,148,0,0.7);
  --green-red-flow--p72: rgb(255,143,0,0.7);
  --green-red-flow--p73: rgb(255,138,0,0.7);
  --green-red-flow--p74: rgb(255,133,0,0.7);
  --green-red-flow--p75: rgb(255,128,0,0.7);
  --green-red-flow--p76: rgb(255,122,0,0.7);
  --green-red-flow--p77: rgb(255,117,0,0.7);
  --green-red-flow--p78: rgb(255,112,0,0.7);
  --green-red-flow--p79: rgb(255,107,0,0.7);
  --green-red-flow--p80: rgb(255,102,0,0.7);
  --green-red-flow--p81: rgb(255,97,0,0.7);
  --green-red-flow--p82: rgb(255,92,0,0.7);
  --green-red-flow--p83: rgb(255,87,0,0.7);
  --green-red-flow--p84: rgb(255,82,0,0.7);
  --green-red-flow--p85: rgb(255,77,0,0.7);
  --green-red-flow--p86: rgb(255,71,0,0.7);
  --green-red-flow--p87: rgb(255,66,0,0.7);
  --green-red-flow--p88: rgb(255,61,0,0.7);
  --green-red-flow--p89: rgb(255,56,0,0.7);
  --green-red-flow--p90: rgb(255,51,0,0.7);
  --green-red-flow--p91: rgb(255,46,0,0.7);
  --green-red-flow--p92: rgb(255,41,0,0.7);
  --green-red-flow--p93: rgb(255,36,0,0.7);
  --green-red-flow--p94: rgb(255,31,0,0.7);
  --green-red-flow--p95: rgb(255,26,0,0.7);
  --green-red-flow--p96: rgb(255,20,0,0.7);
  --green-red-flow--p97: rgb(255,15,0,0.7);
  --green-red-flow--p98: rgb(255,10,0,0.7);
  --green-red-flow--p99: rgb(255,5,0,0.7);
  --green-red-flow--p100: rgb(255,0,0,0.7);
}
